.ws-form-container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .ws-form-wrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .ws-logo{
            color: red;
            font-weight: bold;
            font-size: 24px;
        }

        .ws-title{
            color: red;
            font-size: 12px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid aqua;

                &::placeholder{
                    color: rgb(175,175,175);
                }
            }

            button{
                background-color: aqua;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: red;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }
        }

        p{
            color: red;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}